<footer>
  <p class="social-links">
    <a href="/" aria-label="Accueil">
      <span class="fas fa-home"></span>
    </a>
    <a href="/search" aria-label="Recherche">
      <span class="fas fa-search"></span>
    </a>
    <a href="/contact" aria-label="Contact">
      <span class="fas fa-envelope"></span>
    </a>
  </p>
</footer>
