<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
		{% include "head.njk" %}
  </head>
  <body>

<header class="site-header">
  <div class="site-brand">
    <a href="/" class="site-title">barbarophonie</a>
    <button class="theme-toggle" type="button" aria-label="Passer au mode clair">☼</button>
  </div>

  <button class="menu-toggle" type="button" aria-label="Ouvrir le menu">☰</button>
</header>

		<article>
		<h1>{{ title | markdownInline | safe }}</h1>
		{% if subtitle %}<p class="subtitle">{{ subtitle | markdownInline | safe }}</p>{% endif %}
				{{ content | safe }}
		</article>
		{% include "footer.njk" %}
  </body>
</html>
