<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
		{% include "head.njk" %}
  </head>
  <body>

<header class="site-header">
  <div class="site-brand">
    <a href="/" class="site-title">barbarophonie</a>
  </div>

<nav class="site-nav">
  <button class="menu-toggle" type="button" aria-label="Ouvrir le menu" aria-expanded="false">☰</button>

  <div class="site-menu">
    <a href="/">Accueil</a>
    <a href="/preface.pdf">Préface</a>
    <a href="/table-des-matieres.pdf">Table des matières</a>
    <a href="TON-LIEN-AMAZON">Le livre</a>
    <a href="/contact/">Contact</a>
  </div>
</nav>

</header>

		<article class="{% if compact %}compact-page{% endif %}">
		{% if permalink != "/" %}
  <h1>{{ title | markdownInline | safe }}</h1>
  {% if subtitle %}<p class="subtitle">{{ subtitle | markdownInline | safe }}</p>{% endif %}
{% endif %}
				{{ content | safe }}
		</article>
		{% include "footer.njk" %}


<script src="/assets/menu.js"></script>
  </body>
</html>

	
