---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://barbarophonie.fr/</loc>
  </url>
  <url>
    <loc>https://barbarophonie.fr/contact/</loc>
  </url>
  <url>
    <loc>https://barbarophonie.fr/preface.pdf</loc>
  </url>
  <url>
    <loc>https://barbarophonie.fr/table-des-matieres.pdf</loc>
  </url>
</urlset>
